.gdbar img {
  width: 345px !important;
  height: 150px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 500px !important;
  height: 170px !important;
}

slides > slide:not(.nobackground):before {
  width: 115px;
  height: 50px;
  background-size: 120px 50px;
}

slides > slide.title-slide hgroup h1 {
  color: #712A51;
}

h2 {
  color: #F36F52;
}

h3 {
  color: #712A51;
}

slides > slide.dark {
  background: #712A51 !important;
}